<div class="product">
  <div class="image">
    <a href=""><img src="./assets/img/{{img}}"></a>
  </div>
  <div class="info">
    <h4 class="title">{{title}}</h4>
    <p class="price">{{price}} грн</p>
    <button type="button" class="buttonBuy" data-product-id="{{id}}"><i class="fas fa-shopping-cart"></i> Buy</button>
  </div>
</div>